{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="auth-box">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

    <p>
      {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.username.errors }}
    </p>

    <p>
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
    </p>

    <p>
      {{ form.password1.label_tag }}
      {{ form.password1 }}
      {{ form.password1.errors }}
    </p>

    <p>
      {{ form.password2.label_tag }}
      {{ form.password2 }}
      {{ form.password2.errors }}
    </p>

    {% if form.password1.help_text %}
    <ul class="helptext">
      {{ form.password1.help_text|safe }}
    </ul>
    {% endif %}

    {% endblock %}